table, td, th, img {
    border: 1px solid black;
}

p, h1{
    text-align: center;
}

p {
    font-size: 25px;
}

img {
    height: 200px;
}


/* 
    This yellow class selector and green id selector are conflicting because I put both in the one of the sections.
    the green id selector wins because it id selectors have higher specificity score than class selectors
 */
.yellow {
    background-color: yellow;
}

#green{
    background-color: lightgreen;
}