table, td, th, img {
    border: 1px solid black;
}

p, h1{
    text-align: center;
}

header div p {
    font-size: 25px;
}

.name-links {
    font-size: 20px;
}

img {
    height: 200%;
    width: 200%;
}


/* 
    This yellow class selector and green id selector are conflicting because I put both in the one of the sections.
    the green id selector wins because it id selectors have higher specificity score than class selectors
 */
.yellow{
    background-color: yellow;
}

#green{
    background-color: lightgreen;
}

a:hover {
    color:darkblue;
}


@media (min-width: 769px) {
    .left-right {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    .projects {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-template-columns: 33% 33% auto;
    }

    .project-item {
        background-color: yellow;
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .left-right {
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: space-between;
    }

    .projects {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        grid-template-columns: 100%;
    }

    .project-item {
        background-color: yellow;
        font-size: 40px;
        text-align: center;
    }
}

.project-item img {
    width: 50%;
    height: auto;
}