table, td, th, img {
    border: 1px solid black;
}

p, h1{
    text-align: center;
}

p {
    font-size: 25px;
}

img {
    height: 200px;
}

.yellow {
    background-color: yellow;
}

#green{
    background-color: lightgreen;
}